[user]
	name = Marvin Alegre
	email = marvinalegredev@gmail.com

[core]
	editor = c

[init]
	defaultBranch = main

[alias]
	co = checkout
	oc = checkout

	br = branch
	rb = branch

	ci = commit
	ic = commit

	st = status
	ts = status

	l = log --oneline
