[user]
	name = Marvin Alegre
	email = marvinalegredev@gmail.com

[core]
	editor = c

[init]
	defaultBranch = main

[alias]
	co = checkout
	oc = checkout

	br = branch
	rb = branch

	ci = commit
	ic = commit

	st = status
	ts = status

	l = log --oneline

	s = stash
	sl = stash list
	sp = stash pop
	sa = stash apply

	p = push origin main

	r = restore .
	rs = restore --staged .
